body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#container {
    position: relative;
    height: 400px;
    width: 90%;
    border: 4px solid black;
    background-color: #76FF45;
    margin-left: 4%;
    overflow: hidden;
}

#panda {
    position: absolute;
    background: url('p1.png');
    height: 52px;
    width: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 20%;
    left: 15%;
}
.rotateimg180 {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pole1 {
    position: absolute;
    height: 130px;
    width: 50px;
    background-color: #2B591B;
    right: -50px; 
} 
.pole3 {
    position: absolute;
    background: url('bamboo.png');
    height: 300px;
    width: 75px;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
   
    right: -350px;
}
.pole4 {
    position: absolute;
    background: url('bamboo.png');
    height: 300px;
    width: 75px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
   
    right: -550px;
}
.pole2 {
    position: absolute;
    height: 10s0px;
    width: 50px;
    background-color: #2B591B;
    right: -200px; 
} 
#pole_6 {
    top:-40%;

}
#pole_5 {
   bottom: -50%;
   
}
#pole_7 {
    top: -40%;

}
#pole_8 {
    bottom : -40%;
}
#pole_1, #pole_3{
    top: 0;
}

#pole_2, #pole_4 {
    bottom: 0;
}

#score_div {
    text-align: center;
    font-size: 40px;
}

#restart_btn {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px;
    background-color: #D30303;
    color: white;
    font-size: 25px;
    border: none;
    cursor: pointer;
    display: none; 
        /*so that the restart button will not
        appear at the start of the game*/
}